DB_HOST=localhost
DB_USER=dentanet_user
DB_PASSWORD=Resh21
DB_NAME=dentanet_lms
DB_PORT=3306

PORT=3002
NODE_ENV=development

JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRE=7d

UPLOAD_PATH=./uploads
MAX_FILE_SIZE=10485760

FRONTEND_URL=http://localhost:8080

DED_API_URL=http://127.0.0.1:8000/predict/

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=dentanet.official@gmail.com
SMTP_PASS=
SMTP_FROM="DentaNet LMS <dentanet.official@gmail.com>"